@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap");

:root {
  --primary-color: white;
  --secondary-color: #1e1e1e;
  --text-color: black;
  --theme-btn: url("assets/Dark-theme-btn.svg");
  --body-image: url("/assets/cork-borad2.jpg");
  --newTask-background: url("/assets/notepad7.jpg");
  --card-background: url("/assets/notebg.png");
  --theme_toogle-background: floralwhite;
  --placeholder-color: black;
  --input-border-bottom: 1px solid #999;
  --dropdown-background-color: white;
  --dropdown-border: none;
  --new_task-header: #d96b6b;
  --add-button-background: #2b83d5;
  --date-input-background: #f6f9fa;
  --add-button-background-secondery: linear-gradient(
    to right,
    #04131f,
    #020303,
    #246174
  );
  --theme-transition: 0s;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: #d96b6b;
  border-radius: 100px;
}
html,
body {
  margin: 0;
  transition: var(--theme-transition);
}
body {
  box-sizing: border-box;
  background-image: var(--body-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
header {
  min-height: 7vh;
}
main {
  min-height: 88vh;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
  color: white;
}

.newTaskContainer {
  background-image: var(--newTask-background);
  background-size: cover;
  background-image: var(--newTask-background);
  background-position: bottom;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  height: 335px;
  max-width: 42%;
  border-radius: 10px;
}

.tasksContainer {
  margin-top: 2rem;
  margin-left: 3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 15px;
}
ul {
  padding: 0px;
}
li {
  float: left;
  width: auto;
  list-style: outside none none;
  margin-left: 0.2rem;
}

.card {
  height: 14rem !important;
  border: none !important;
  width: 11.3rem;
  opacity: 1;
  background-position: left;
  background-color: transparent !important;
  animation: fadeIn 5s;
  transition: opacity 4000ms linear;
}

[contenteditable] {
  outline: 0px solid transparent;
}
.card_header {
  margin-top: -1.7rem;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  font-family: "Shadows Into Light", cursive;
  text-decoration-line: underline;
  word-wrap: normal;
  display: block;
  position: absolute;
  white-space: pre;
  width: 155px;
  height: 50px;
  font-size: 22px;
  z-index: 100;
}
.card_header:hover {
  overflow-x: scroll;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  margin-right: unset;
  margin-top: 0.6rem;
}
p.ptext {
  width: 148px;
  height: 96px;
  overflow-y: hidden;
  word-wrap: break-word;
  display: inline-block;
  text-align: left;
  border-color: transparent;
  padding: 2px;
  background-color: transparent;
  resize: none;
  outline: none;
  border: transparent;
  margin-top: 1.3rem;
}
p.ptext:hover {
  overflow-y: auto;
}
p.card-text.date_time {
    color: #d90000;
    font-weight: 700;
    margin-top: -1.2rem;
    margin-left: 1.6rem;
    display: flex;
    align-items: center;
    word-wrap: normal;
    overflow: hidden;
    flex-direction: column;
    z-index: 100;
    width: 107px;
    height: 46px;
}
p.card-text.date_time:hover{
  overflow-x: auto;
}
button.fa.fa-trash {
  background: transparent;
  color: red;
  margin-left: auto;
  border: none;
  transition: all 0.6s ease 0s;
}
button.fa.fa-trash:hover {
  transform: scale(1.55);
}
button.fas.fa-edit {
  background: transparent;
  color: #0675cf;
  border: none;
  transition: all 0.6s ease 0s;
}
button.fas.fa-edit:hover {
  transform: scale(1.55);
}

button.fa.fa-check {
  background: transparent;
  color: #60cf06;
  width: 26px;
  border-style: dotted 3px;
  display: none;
  margin-right: 5px;
  border-color: #60cf06;
  transition: all 0.6s ease 0s;
}
button.fa.fa-check:hover {
  transform: scale(1.1);
}

.new_task_header {
  font-family: "Bebas Neue", cursive;
  color: var(--new_task-header);
  letter-spacing: 2px;
  margin-top: 1rem;
  max-width: 100%;
  text-decoration-line: underline;
  font-weight: 400;
}
#task_info {
  position: relative;
  margin: 0 auto;
  background: transparent;
  resize: none;
}
.formC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  float: right;
}
.task_name {
  background: transparent;
  border: 1px solid;
  position: relative;
}
textarea {
  top: 1rem;
  outline: none;
}
.time_date {
  margin-top: 2.4rem;
  align-content: space-between;
  gap: 2rem;
}
#selectbox {
  position: absolute;
}

.buttons_Container {
  margin-left: auto;
}

.normalButton {
  transition: all 0.2s ease, visibility 0s;
  font-style: normal;
  border-radius: 10px;
  font-weight: 400;
  font-family: almoni-dl-aaa-400, sans-serif;
  letter-spacing: 0.05em;
  color: #051a89;
  font-size: 20px;
}

.normalButton.add {
  transition: inherit;
  background: #a4efa6;
  border: none;
}
.normalButton.reset {
  transition: inherit;
  background: #f7b4b4;
  border: none;
}
.normalButton.reset:hover {
  color: #fff;
  letter-spacing: 2px;
  background-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.normalButton.add:hover {
  color: #fff;
  letter-spacing: 2px;
  background-color: rgb(12, 221, 5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#dark_status {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 900;
  position: relative;
  top: 0.4rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.theme_toogle_btn {
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: var(--theme-btn);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  margin-top: -0.5rem;
  padding: 20px;
  cursor: pointer;
}
.theme_toogle {
  margin-left: 3rem;
  background-color: var(--theme_toogle-background);
  position: absolute;
  border: 1px;
  display: flex;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 34%) 0px -12px 33px,
    rgb(0 0 0 / 20%) 0px 4px 6px, rgb(0 0 0 / 28%) 0px 12px 20px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
}
.theme_toogle_btn:hover {
  background-size: 85%;
  transition: 0.5s;
  transform: rotate(90deg);
}
.click-here {
  width: 100px;
  left: 3.7rem;
  position: absolute;
  top: 3em;
}
input#taskTime {
  outline-offset: 3px;
  background: var(--date-input-background);
  color: var(--text-color);
  border: none;
  font-size: 13.5px;
  outline-offset: 3px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background-color: #6cb8ff;
  padding: 7px;
  cursor: pointer;
  font-size: 14.5px;
  transition: all 0.6s ease 0s;
}
input[type="time"]::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.1);
}
input#taskDate {
  outline-offset: 3px;
  background: var(--date-input-background);
  color: var(--text-color);
  border: none;
  font-size: 13.5px;
  outline-offset: 3px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #6cb8ff;
  padding: 7px;
  cursor: pointer;
  font-size: 14.5px;
  transition: all 0.6s ease 0s;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.1);
}
/*  */
.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  top: -150px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
}
.toastify.on {
  opacity: 1;
}

.dropbtn {
  background-color: #4caf50;
  background: #f6f9fa;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
button#dropdownMenuButton {
  background-color: var(--dropdown-background-color);
  color: var(--text-color);
  border: var(--dropdown-border);
}
ul.dropdown-menu.show {
  transition: transform 0.18s cubic-bezier(0, 0.4, 0.65, 0.9);
}

.dropdown li {
  gap: 10px;
}
li.dropdown-item {
  width: 89%;
}
.dropdown-item-img {
  width: 35px;
  height: 35px;
  position: relative;
  right: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dropdown li:not(:last-child) {
  border-bottom: 1px solid #aaa;
}

.dropdown li:hover {
  box-shadow: 0px 0px 11px 1px rgba(182, 182, 182, 0.75) inset;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#backgroundsDropDown {
  background: transparent;
  color: var(--text-color);
  vertical-align: bottom;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  color: currentColor;
}
button#DropDownB {
  color: darkslateblue;
  border: none;
  margin-top: 2px;
  font-weight: 900;
  font-size: 19px;
  border-radius: 15px;
  letter-spacing: 2px;
  background-color: white;
}
.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.input-group label {
  flex-basis: 28%;
}
.input-group input,
.input-group textarea {
  flex-basis: 88%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 6px 0;
  border-bottom: var(--input-border-bottom);
  color: #333;
  font-size: 16px;
}
.input-group span {
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: red;
}
.input-group span i {
  color: seagreen;
}
span#missingDate {
  position: absolute;
  white-space: pre;
  bottom: -23px;
  right: -27px;
  font-size: 13px;
  font-weight: 600;
  background: snow;
}
.missingTitle {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-style: italic;
  max-width: 220px;
}
@media only screen and (max-width: 480px) {
  body {
    height: 100%;
  }
  .newTaskContainer {
    max-width: 100%;
    background-position: unset;
    margin-left: 0;
    height: 312px;
  }
  .theme_toogle {
    top: 0;
    right: 0;
    border: none;
  }
  .click-here {
    display: none;
  }
  input#taskTime {
    font-size: 2.5px;
    padding: 0;
    height: 20px;
  }
  input#taskDate {
    font-size: 10.5px;
    padding: 0;
    height: 20px;
  }
  .normalButton {
    height: 30px;
  }

  .theme_toogle {
    width: 100%;
    justify-content: center;
  }
  #dark_status{
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .tasksContainer {
    margin: 0 auto;
    justify-content: center;
    margin-top: 1rem;
    padding: 6px;
  }
  div#dropDownButton {
    top: -8px;
  }
  ul.dropdown-menu.show {
    transform: translate3d(-24px, 36px, 0px);
  }
  header {
    min-height: 10vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
